body {
    margin-top: 75px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: bisque;
}

p {
    font-family: 'Oxygen', sans-serif;
    text-align: justify;
    font-size: 12pt;
    border: 1px solid white;
    padding: 10pt;
    background-color: white;
}

li {
    font-family: 'Oxygen', sans-serif;
    text-align: justify;
    font-size: 12pt;
    border: 3px solid white;
    padding: 10pt;
}

h1 {
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    font-size: 50pt
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 17pt
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 16pt;
    margin-top: 50pt;
    margin-bottom: 25pt;
}

div {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: 1px transparent;
    padding-top: 0pt;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a:link {
    color: black;
    font-family: 'Oxygen', sans-serif;
    font-size: 12pt;
}

a:visited {
    color: black;
    font-family: 'Oxygen', sans-serif;
    font-size: 12pt;
}

a:hover {
    color: burlywood;
    font-family: 'Oxygen', sans-serif;
    font-size: 12pt;
}

a:active {
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-size: 12pt;
}

.social {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    font-size: 14pt;
    border-color: transparent;
    margin-top: 25pt;
}